/* General Styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Lato', sans-serif;
    }

/* Utilities */
    /* list style */
        .message-content ul,
        .contact-list ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    /* img profile style */
        .top-bar-sx img, 
        .contact-list ul li img,
        .user-select img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }
    /* icon top bar */

        .top-bar-sx a,
        .top-bar-dx a {
            display: inline-block;
            margin-right: 20px;
        }

        .top-bar-sx a i,
        .top-bar-dx a i {
            font-size: 20px;
            color: #b1b1b1;
        }

/* App  */
    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(
            to bottom,
            #009688 0px,
            #009688 20vh,
            #d2dbdc 20vh,
            #d2dbdc 100%
        );
    }

/* App Container */

    .app-container {
        display: flex;
        width: 80%;
        height: 95%;
        background: #fff;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
    }

/* left-container */
    .left-container {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* top-bar left container */
        .top-bar-sx {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 70px;
            background-color: #eaeaea;
            padding: 10px;
        }

        .top-bar-sx img {
            margin-right: 0;
        }    

    /* notify-bar left container */
        .notify-bar-sx {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background: #8edafd;
        }

        .notify-bar-sx i {
            margin-right: 10px;
            padding: 18px 15px;
            background-color: #fff;
            border-radius: 50%;
            color: #8edafd;
            font-size: 18px;
            
        }

        .notify-bar-sx a {
            margin-top: 5px;
            font-size: 14px;
            color: #4f7485;
        }

    /* search bar  left container */
        .search-bar {
            padding: 10px;
            height: 58px;
            background-color: #fafafa; 
        }

        .search-box {
            display: flex;
            align-items: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-box label i {
            padding: 10px 30px;
            color: #b1b1b1;
            background-color: #fff;
            border-right: 1px solid #ccc;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .search-box input {
            flex-grow: 1;
            border: none;
            padding: 10px;
            border-radius: 5px;   
        }


    /* Contact List */
        .contact-list {
            flex-grow: 1;
            overflow-y: auto;
        }

        .contact-list ul li {
            display: flex;
            align-items: center;
            padding: 15px 15px 15px 20px;
            border-bottom: 1px solid #f5f5f5;
            transition: background-color .2s;
        }

        .contact-list ul li:last-child {
            border-bottom: 0;
        }

        /* li active */
        .contact-list ul li.active {
                background-color: #eaebeb;
                border-bottom-color: transparent;
            }

        /* li hover */
            .contact-list ul li:hover {
                background-color: #eaebeb;
                cursor: pointer;
            }

        .contact-list ul li h5 {
            margin-top: 5px;
            color: #cacbcd;
            font-weight: 400;
        }

        .contact-wrapper {
            flex-grow: 1;
        }

        .contact-user {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .contact-user h6 {
            color: #cacbcd;
            font-weight: 400;
        }

/* right-container */ 
    .right-container {
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100%;
    }

    /* top-bar-dx right container */
        .top-bar-dx {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            background-color: #eaeaea;
            padding: 10px;
            border-left: 1px solid #ccc;
        }
    
        .user-select {
            display: flex;
            align-items: center;
        }

        .user-select h6 {
            margin-top: 5px;
            color: #6c7376;
        }

    /* message content */
        .message-content {
            flex-grow: 1;
            background-image: url(../img/mine.jpg);
            overflow-y:  auto; 
        }

        /* conversazioni */
            .message-content .chat {
                display: none;
                padding: 35px 70px;
            }

            .message-content .chat::after {
                content: '';
                display: table;
                clear: both;
            }

            .message-content .chat.active {
                display: block;
            }

        .message {
            position: relative;
            min-width: 150px;
            max-width: 80%;
            height: 100%;
            margin-bottom: 10px;
            background-color: #fff;
            border-radius: 10px;
            padding: 15px 40px 20px 20px;
            word-wrap: break-word;
        }

        .message h6 {
            position: absolute;
            right: 5px;
            bottom: 5px;
            color: #b7b9bb;
        }

        .send {
            float: right;
            background-color: #d5faba;
            clear: both;
        }

    
        .received {
            float: left;
            clear: both;
}

/* bottom-bar right container */
    .bottom-bar-dx {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 60px;
        background-color: #eaeaea;
        padding: 10px;
    }

    .bottom-bar-dx input {
        flex-grow: 1;
        padding: 15px;
        border: none;
        border-radius: 5px;
    }

    .bottom-bar-dx i {
        margin: 0 35px;
        font-size: 20px;
        color: #b1b1b1;
        cursor: pointer;
    }

/* templates */
    .templates {
        list-style: none;
        display: none;
    }